.container-fluid{
    background-color: rgb(117, 192, 117);
}

.image{
    margin-top: 50px;
    padding-left: 100px;
    padding-bottom: 100px;
} 

.artist{
    padding-top: 90px;
    font-size: 48px;
    color: #dd4f4f;
}

.padding-top-30px {
    font-size: 48px;
    color: rgb(255, 207, 180);
    margin-bottom: 30px;
}

.padding-top-30px > span > button {
    border-radius: 30px;
    width: 150px;
}

.demotracks{
    height: 100px;
    padding-top: 10px;
    background-color: rgb(60, 153, 114);
    margin-bottom: 40px;
    width: 100%;
}

.fontcolor{
    color: blue;
    font-size: 24px;
    font-weight: bold;
}

.margin-left{
    margin-left: 20px;
}

